<div class="crw-wizard-container">
  {{> "modules/cyberpunk-red-wizards/templates/partials/step-bar.hbs"}}
  <div class="crw-content">
    {{{stepHtml}}}
  </div>
  <footer class="crw-footer">
    {{#if (gt currentStep 0)}}
    <button type="button" class="crw-btn-back" data-action="back">
      <i class="fas fa-arrow-left"></i> {{localize "crw.nav.back"}}
    </button>
    {{else}}
    <span></span>
    {{/if}}
    {{#if isFinalStep}}
    <button type="button" class="crw-btn-create" data-action="createCharacter" {{#unless canAdvance}}disabled{{/unless}}>
      <i class="fas fa-check"></i> {{localize "crw.summary.create"}}
    </button>
    {{else}}
    <button type="button" class="crw-btn-next" data-action="next" {{#unless canAdvance}}disabled{{/unless}}>
      {{localize "crw.nav.next"}} <i class="fas fa-arrow-right"></i>
    </button>
    {{/if}}
  </footer>
</div>
