<div class="crw-editor-container">
  <nav class="crw-editor-tabs">
    {{#each steps}}
    <button type="button" class="crw-editor-tab {{#if (eq ../currentStep @index)}}crw-editor-tab-active{{/if}}"
            data-action="goToStep" data-step="{{@index}}">
      {{this.label}}
    </button>
    {{/each}}
  </nav>
  <div class="crw-editor-scroll">
    {{{stepHtml}}}
  </div>
  <footer class="crw-editor-footer">
    {{#if (gt currentStep 0)}}
    <button type="button" class="crw-btn-back" data-action="prevStep">
      <i class="fas fa-arrow-left"></i> {{localize "crw.nav.back"}}
    </button>
    {{else}}
    <span></span>
    {{/if}}
    <div class="crw-editor-footer-end">
      {{#unless isFinalStep}}
      <button type="button" class="crw-btn-next" data-action="nextStep">
        {{localize "crw.nav.next"}} <i class="fas fa-arrow-right"></i>
      </button>
      {{/unless}}
      <button type="button" class="crw-btn-create" data-action="save">
        <i class="fas fa-check"></i> {{localize "crw.npc.editor.save"}}
      </button>
    </div>
  </footer>
</div>
